body {
    background: url("../img/Фон.png") no-repeat;
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.option {
    width: 100%;
}
.col-lg-6 {
    max-width: 400px;
}