<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мероприятия</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/block1.css">

</head>
<body>
<div class="container my-4">
    <h2 class="mb-4">Выберите мероприятия и укажите количество участников и дату</h2>
    <form id="eventsForm" method="POST" action="/block2">
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event1" onchange="toggleInputs(1)">
                <label class="form-check-label" for="event1">
                    Всероссийские соревнования по баскетболу среди команд общеобразовательных организаций (в рамках общероссийского проекта «Баскетбол – в школу»)          </label>
            </div>
            <div class="hidden" id="inputs1">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants1" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants1" class="form-control" value="0" id="participants1" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date1Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart1" class="form-control" id="date1Start">
                    </div>
                    <div class="col-auto">
                        <label for="date1End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd1" class="form-control" id="date1End">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event2" onchange="toggleInputs(2)">
                <label class="form-check-label" for="event2">
                    Всероссийские соревнования по волейболу «Серебряный мяч» среди команд общеобразовательных организаций (в рамках общероссийского проекта «Волейбол – в школу»)
                </label>
            </div>
            <div class="hidden" id="inputs2">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants2" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants2" class="form-control" value="0" id="participants2" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date2Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart21" class="form-control" id="date2Start">
                    </div>
                    <div class="col-auto">
                        <label for="date2End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd2" class="form-control" id="date2End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event3" onchange="toggleInputs(3)">
                <label class="form-check-label" for="event3">
                    Всероссийские соревнования по легкоатлетическому четырехборью «Шиповка юных» среди обучающихся общеобразовательных организаций
                </label>
            </div>
            <div class="hidden" id="inputs3">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants3" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants3" class="form-control" value="0" id="participants3" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date3Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart3" class="form-control" id="date3Start">
                    </div>
                    <div class="col-auto">
                        <label for="date3End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd3" class="form-control" id="date3End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event4" onchange="toggleInputs(4)">
                <label class="form-check-label" for="event4">
                    Всероссийские соревнования по лыжным гонкам среди обучающихся общеобразовательных учреждений на призы газеты «Пионерская правда»
                </label>
            </div>
            <div class="hidden" id="inputs4">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants4" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants4" class="form-control" value="0" id="participants4" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date4Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart4" class="form-control" id="date4Start">
                    </div>
                    <div class="col-auto">
                        <label for="date4End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd4" class="form-control" id="date4End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event5" onchange="toggleInputs(5)">
                <label class="form-check-label" for="event5">
                    Всероссийские соревнования по мини-футболу (футзалу) среди команд общеобразовательных организаций (в рамках общероссийского проекта «Мини-футбол – в школу»)
                </label>
            </div>
            <div class="hidden" id="inputs5">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants5" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants5" class="form-control" value="0" id="participants5" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date5Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart5" class="form-control" id="date5Start">
                    </div>
                    <div class="col-auto">
                        <label for="date5End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd5" class="form-control" id="date5End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event6" onchange="toggleInputs(6)">
                <label class="form-check-label" for="event6">
                    Всероссийские соревнования юных футболистов «Кожаный мяч»
                </label>
            </div>
            <div class="hidden" id="inputs6">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants6" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants6" class="form-control" value="0" id="participants6" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date6Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart6" class="form-control" id="date6Start">
                    </div>
                    <div class="col-auto">
                        <label for="date6End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd6" class="form-control" id="date6End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event7" onchange="toggleInputs(7)">
                <label class="form-check-label" for="event7">
                    Всероссийские соревнования юных хоккеистов «Золотая шайба»
                </label>
            </div>
            <div class="hidden" id="inputs7">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants7" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants7" class="form-control" value="0" id="participants7" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date7Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart7" class="form-control" id="date7Start">
                    </div>
                    <div class="col-auto">
                        <label for="date7End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd7" class="form-control" id="date7End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event8" onchange="toggleInputs(8)">
                <label class="form-check-label" for="event8">
                    Открытые Всероссийские соревнования по шахматам «Белая ладья» среди команд общеобразовательных организаций
                </label>
            </div>
            <div class="hidden" id="inputs8">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants8" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants8" class="form-control" value="0" id="participants8" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date8Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart8" class="form-control" id="date8Start">
                    </div>
                    <div class="col-auto">
                        <label for="date8End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd8" class="form-control" id="date8End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event9" onchange="toggleInputs(9)">
                <label class="form-check-label" for="event9">
                    Спартакиада молодежи России допризывного возраста
                </label>
            </div>
            <div class="hidden" id="inputs9">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants9" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants9" class="form-control" value="0" id="participants9" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date9Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart9" class="form-control" id="date9Start">
                    </div>
                    <div class="col-auto">
                        <label for="date9End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd9" class="form-control" id="date9End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event10" onchange="toggleInputs(10)">
                <label class="form-check-label" for="event10">
                    Всероссийские спортивные соревнования школьников «Президентские состязания»
                </label>
            </div>
            <div class="hidden" id="inputs10">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants10" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants10" class="form-control" value="0" id="participants10" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date10Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart10" class="form-control" id="date10Start">
                    </div>
                    <div class="col-auto">
                        <label for="date10End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd10" class="form-control" id="date10End">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event11" onchange="toggleInputs(11)">
                <label class="form-check-label" for="event11">
                    Всероссийские спортивные игры школьников «Президентские спортивные игры»
                </label>
            </div>
            <div class="hidden" id="inputs11">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants11" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants11" class="form-control" value="0" id="participants11" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date11Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart11" class="form-control" id="date11Start">
                    </div>
                    <div class="col-auto">
                        <label for="date11End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd11" class="form-control" id="date11End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event12" onchange="toggleInputs(12)">
                <label class="form-check-label" for="event12">
                    Всероссийские массовые соревнования по баскетболу «Оранжевый мяч»
                </label>
            </div>
            <div class="hidden" id="inputs12">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants12" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants12" class="form-control" value="0" id="participants12" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date12Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart12" class="form-control" id="date12Start">
                    </div>
                    <div class="col-auto">
                        <label for="date12End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd12" class="form-control" id="date12End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event13" onchange="toggleInputs(13)">
                <label class="form-check-label" for="event13">
                    Всероссийские спортивные игры школьных спортивных клубов
                </label>
            </div>
            <div class="hidden" id="inputs13">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants13" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants13" class="form-control" value="0" id="participants13" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date13Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart13" class="form-control" id="date13Start">
                    </div>
                    <div class="col-auto">
                        <label for="date13End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd13" class="form-control" id="date13End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event14" onchange="toggleInputs(14)">
                <label class="form-check-label" for="event14">
                    Открытые Всероссийские массовые соревнования по конькобежному спорту «Лед надежды нашей»
                </label>
            </div>
            <div class="hidden" id="inputs14">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants14" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants14" class="form-control" value="0" id="participants14" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date14Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart14" class="form-control" id="date14Start">
                    </div>
                    <div class="col-auto">
                        <label for="date14End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd14" class="form-control" id="date14End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event15" onchange="toggleInputs(15)">
                <label class="form-check-label" for="event15">
                    Всероссийский день бега «Кросс нации»
                </label>
            </div>
            <div class="hidden" id="inputs15">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants15" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants15" class="form-control" value="0" id="participants15" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date15Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart15" class="form-control" id="date15Start">
                    </div>
                    <div class="col-auto">
                        <label for="date15End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd15" class="form-control" id="date15End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event16" onchange="toggleInputs(16)">
                <label class="form-check-label" for="event16">
                    Всероссийский день ходьбы
                </label>
            </div>
            <div class="hidden" id="inputs16">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants16" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants16" class="form-control" value="0" id="participants16" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date16Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart16" class="form-control" id="date16Start">
                    </div>
                    <div class="col-auto">
                        <label for="date16End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd16" class="form-control" id="date16End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event17" onchange="toggleInputs(17)">
                <label class="form-check-label" for="event17">
                    Открытая Всероссийская массовая лыжная гонка «Лыжня России»
                </label>
            </div>
            <div class="hidden" id="inputs17">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants17" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants17" class="form-control" value="0" id="participants17" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date17Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart17" class="form-control" id="date17Start">
                    </div>
                    <div class="col-auto">
                        <label for="date17End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd17" class="form-control" id="date17End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event18" onchange="toggleInputs(18)">
                <label class="form-check-label" for="event18">
                    Всероссийские массовые соревнования по спортивному ориентированию «Российский Азимут»
                </label>
            </div>
            <div class="hidden" id="inputs18">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants18" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants18" class="form-control" value="0" id="participants18" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date18Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart18" class="form-control" id="date18Start">
                    </div>
                    <div class="col-auto">
                        <label for="date18End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd18" class="form-control" id="date18End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event19" onchange="toggleInputs(19)">
                <label class="form-check-label" for="event19">
                    Всероссийские массовые соревнования «Оздоровительный спорт – в каждую семью»
                </label>
            </div>
            <div class="hidden" id="inputs19">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants19" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants19" class="form-control" value="0" id="participants19" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date19Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart19" class="form-control" id="date19Start">
                    </div>
                    <div class="col-auto">
                        <label for="date19End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd19" class="form-control" id="date19End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event20" onchange="toggleInputs(20)">
                <label class="form-check-label" for="event20">
                    Всероссийская Спартакиада специальной олимпиады
                </label>
            </div>
            <div class="hidden" id="inputs20">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants20" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants20" class="form-control" value="0" id="participants20" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date20Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart20" class="form-control" id="date20Start">
                    </div>
                    <div class="col-auto">
                        <label for="date20End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd20" class="form-control" id="date20End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event21" onchange="toggleInputs(21)">
                <label class="form-check-label" for="event21">
                    Всероссийский день самбо
                </label>
            </div>
            <div class="hidden" id="inputs21">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants21" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants21" class="form-control" value="0" id="participants21" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date21Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart21" class="form-control" id="date21Start">
                    </div>
                    <div class="col-auto">
                        <label for="date21End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd21" class="form-control" id="date21End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event22" onchange="toggleInputs(22)">
                <label class="form-check-label" for="event22">
                    Всероссийская массовая велосипедная гонка
                </label>
            </div>
            <div class="hidden" id="inputs22">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants22" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants22" class="form-control" value="0" id="participants22" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date22Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart22" class="form-control" id="date22Start">
                    </div>
                    <div class="col-auto">
                        <label for="date22End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd22" class="form-control" id="date22End">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event23" onchange="toggleInputs(23)">
                <label class="form-check-label" for="event23">
                    Фестиваль Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди обучающихся общеобразовательных организаций
                </label>
            </div>
            <div class="hidden" id="inputs23">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants23" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants23" class="form-control" value="0" id="participants23" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date23Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart23" class="form-control" id="date23Start">
                    </div>
                    <div class="col-auto">
                        <label for="date23End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd23" class="form-control" id="date23End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event24" onchange="toggleInputs(24)">
                <label class="form-check-label" for="event24">
                    Фестиваль Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди обучающихся образовательных организаций высшего образования
                </label>
            </div>
            <div class="hidden" id="inputs24">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants24" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants24" class="form-control" value="0" id="participants24" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date24Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart24" class="form-control" id="date24Start">
                    </div>
                    <div class="col-auto">
                        <label for="date24End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd24" class="form-control" id="date24End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event25" onchange="toggleInputs(25)">
                <label class="form-check-label" for="event25">
                    Фестиваль Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди семейных команд
                </label>
            </div>
            <div class="hidden" id="inputs25">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants25" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants25" class="form-control" value="0" id="participants25" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date25Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart25" class="form-control" id="date25Start">
                    </div>
                    <div class="col-auto">
                        <label for="date25End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd25" class="form-control" id="date25End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event26" onchange="toggleInputs(26)">
                <label class="form-check-label" for="event26">
                    Всероссийские соревнования по многоборьям Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди граждан, проживающих в сельской местности
                </label>
            </div>
            <div class="hidden" id="inputs26">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants26" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants26" class="form-control" value="0" id="participants26" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date26Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart26" class="form-control" id="date26Start">
                    </div>
                    <div class="col-auto">
                        <label for="date26End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd26" class="form-control" id="date26End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event27" onchange="toggleInputs(27)">
                <label class="form-check-label" for="event27">
                    Всероссийская военно-патриотическая игра «Зарница»
                </label>
            </div>
            <div class="hidden" id="inputs27">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants27" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants27" class="form-control" value="0" id="participants27" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date27Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart27" class="form-control" id="date27Start">
                    </div>
                    <div class="col-auto">
                        <label for="date27End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd27" class="form-control" id="date27End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event28" onchange="toggleInputs(28)">
                <label class="form-check-label" for="event28">
                    Всероссийский проект «Вызов первых»
                </label>
            </div>
            <div class="hidden" id="inputs28">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants28" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants28" class="form-control" value="0" id="participants28" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date28Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart28" class="form-control" id="date28Start">
                    </div>
                    <div class="col-auto">
                        <label for="date28End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd28" class="form-control" id="date28End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event29" onchange="toggleInputs(29)">
                <label class="form-check-label" for="event29">
                    Турнир «Школьная баскетбольная лига 3х3 им. Кирилла Писклова»
                </label>
            </div>
            <div class="hidden" id="inputs29">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants29" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants29" class="form-control" value="0" id="participants29" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date29Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart29" class="form-control" id="date29Start">
                    </div>
                    <div class="col-auto">
                        <label for="date29End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd29" class="form-control" id="date29End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event30" onchange="toggleInputs(30)">
                <label class="form-check-label" for="event30">
                    Турнир по волейболу среди команд общеобразовательных организаций субъектов Российской Федерации
                </label>
            </div>
            <div class="hidden" id="inputs30">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants30" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants30" class="form-control" value="0" id="participants30" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date30Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart30" class="form-control" id="date30Start">
                    </div>
                    <div class="col-auto">
                        <label for="date30End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd30" class="form-control" id="date30End">
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="event31" onchange="toggleInputs(31)">
                <label class="form-check-label" for="event31">
                    Чемпионат Школьной баскетбольной лиги «КЭС-БАСКЕТ»
                </label>
            </div>
            <div class="hidden" id="inputs31">
                <div class="row g-3 align-items-center my-2">
                    <div class="col-auto">
                        <label for="participants31" class="col-form-label">Количество участников</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="amountParticipants31" class="form-control" value="0" id="participants31" min="0" max="10000" placeholder="Введите количество">
                    </div>
                    <div class="col-auto">
                        <label for="date31Start" class="col-form-label">Дата начала</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventStart31" class="form-control" id="date31Start">
                    </div>
                    <div class="col-auto">
                        <label for="date31End" class="col-form-label">Дата окончания</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" name="eventEnd31" class="form-control" id="date31End">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary" name="action" value="back" id="backPageBtn">Назад</button>
        <button type="submit" class="btn btn-primary" name="action" value="next" id="nextPageBtn">Далее</button>
    </form>
</div>

<script>

    function toggleInputs(eventId) {
        const inputs = document.getElementById('inputs' + eventId);
        if (inputs.style.display === "none" || inputs.style.display === "") {
            inputs.style.display = "block";
        } else {
            inputs.style.display = "none";
        }
    }
    function saveEventData() {
        const eventData={};

        document.querySelectorAll('.form-check-input').forEach((checkbox,index)=>{
            const eventId = checkbox.id.replace('event', '');

            const participants = document.getElementById('participants' + eventId)?.value;
            const dateStart = document.getElementById('date' + eventId+'Start')?.value || "Мероприятие не было выбрано";
            const dateEnd = document.getElementById('date' + eventId+'End')?.value || "Мероприятие не было выбрано";

            eventData[`event${eventId}`] = {
                participants: participants,
                dateStart: dateStart,
                dateEnd: dateEnd
            };


        })

        localStorage.setItem('eventData', JSON.stringify(eventData));

    }
    console.log(localStorage.getItem('eventData'))

    document.getElementById('backPageBtn').addEventListener('click', saveEventData);
    document.getElementById('nextPageBtn').addEventListener('click', saveEventData);

    function loadEventData() {
        const savedData = localStorage.getItem('eventData');
        if (savedData) {
            const eventData = JSON.parse(savedData);

            Object.keys(eventData).forEach((eventKey) => {
                const eventId = eventKey.replace('event', '');

                const checkbox = document.getElementById('event' + eventId);
                if (checkbox) {
                    checkbox.checked = eventData[eventKey].participants !== "";
                    toggleInputs(eventId);
                }

                const participantsInput = document.getElementById('participants' + eventId);
                if (participantsInput) {
                    participantsInput.value = eventData[eventKey].participants;
                }

                const dateInputStart = document.getElementById('date' + eventId+'Start');
                if (dateInputStart) {
                    dateInputStart.value = eventData[eventKey].dateStart === "Мероприятие не было выбрано" ? "" : eventData[eventKey].dateStart;
                }
                const dateInputEnd = document.getElementById('date' + eventId+'End');
                if (dateInputEnd) {
                    dateInputEnd.value = eventData[eventKey].dateEnd === "Мероприятие не было выбрано" ? "" : eventData[eventKey].dateEnd;
                }
            });
        }
    }
    window.addEventListener('DOMContentLoaded', loadEventData);

    function validateInputValue(input) {
        const value = input.value;

        if (/^0\d/.test(value)) {
            input.value = parseInt(value, 10);
        }
        if (value < 0 || value > 10000) {
            alert("Введите значение от 0 до 10000");
            input.value = "";
        }
    }
    document.querySelectorAll('input[type="number"][min="0"][max="10000"]').forEach(input => {
        input.addEventListener('input', () => validateInputValue(input));
    });



</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
