<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мероприятия</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/block1.css">
  <link rel="stylesheet" href="../static/block2.css">

</head>
<body>
  <div class="container">
    <h2 class="">Выберите мероприятия и укажите количество участников и дату</h2>
    <form id="eventsForm" method="POST" action="/block2">
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event1" onchange="toggleInputs(1)">
          <label class="form-check-label" for="event1">
            Всероссийские соревнования по баскетболу среди команд общеобразовательных организаций (в рамках общероссийского проекта «Баскетбол – в школу»)          </label>
        </div>
        <div class="hidden" id="inputs1">
          <div class="in-in-contain row g-3 align-items-center ">
            <div class="col-auto">
              <label for="participants1" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants1" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date1" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date1" value="">
            </div>
          </div>
        </div>
      </div>

      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event2" onchange="toggleInputs(2)">
          <label class="form-check-label" for="event2">
            Всероссийские соревнования по волейболу «Серебряный мяч» среди команд общеобразовательных организаций (в рамках общероссийского проекта «Волейбол – в школу»)
          </label>
        </div>
        <div class="hidden" id="inputs2">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants2" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants2" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date2" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date2">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event3" onchange="toggleInputs(3)">
          <label class="form-check-label" for="event3">
            Всероссийские соревнования по легкоатлетическому четырехборью «Шиповка юных» среди обучающихся общеобразовательных организаций
          </label>
        </div>
        <div class="hidden" id="inputs3">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants3" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants3" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date3" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date3">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event4" onchange="toggleInputs(4)">
          <label class="form-check-label" for="event4">
            Всероссийские соревнования по лыжным гонкам среди обучающихся общеобразовательных учреждений на призы газеты «Пионерская правда»
          </label>
        </div>
        <div class="hidden" id="inputs4">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants4" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants4" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date4" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date4">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event5" onchange="toggleInputs(5)">
          <label class="form-check-label" for="event5">
            Всероссийские соревнования по мини-футболу (футзалу) среди команд общеобразовательных организаций (в рамках общероссийского проекта «Мини-футбол – в школу»)
          </label>
        </div>
        <div class="hidden" id="inputs5">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants5" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants5" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date5" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date5">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event6" onchange="toggleInputs(6)">
          <label class="form-check-label" for="event6">
            Всероссийские соревнования юных футболистов «Кожаный мяч»
          </label>
        </div>
        <div class="hidden" id="inputs6">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants6" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants6" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date6" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date6">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event7" onchange="toggleInputs(7)">
          <label class="form-check-label" for="event7">
            Всероссийские соревнования юных хоккеистов «Золотая шайба»
          </label>
        </div>
        <div class="hidden" id="inputs7">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants7" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants7" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date7" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date7">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event8" onchange="toggleInputs(8)">
          <label class="form-check-label" for="event8">
            Открытые Всероссийские соревнования по шахматам «Белая ладья» среди команд общеобразовательных организаций
          </label>
        </div>
        <div class="hidden" id="inputs8">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants8" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants8" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date8" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date8">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event9" onchange="toggleInputs(9)">
          <label class="form-check-label" for="event9">
            Спартакиада молодежи России допризывного возраста
          </label>
        </div>
        <div class="hidden" id="inputs9">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants9" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants9" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date9" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date9">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event10" onchange="toggleInputs(10)">
          <label class="form-check-label" for="event10">
            Всероссийские спортивные соревнования школьников «Президентские состязания»
          </label>
        </div>
        <div class="hidden" id="inputs10">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants10" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants10" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date10" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date10">
            </div>
          </div>
        </div>
      </div>
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event11" onchange="toggleInputs(11)">
          <label class="form-check-label" for="event11">
            Всероссийские спортивные игры школьников «Президентские спортивные игры»
          </label>
        </div>
        <div class="hidden" id="inputs11">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants11" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants11" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date11" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date11">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event12" onchange="toggleInputs(12)">
          <label class="form-check-label" for="event12">
            Всероссийские массовые соревнования по баскетболу «Оранжевый мяч»
          </label>
        </div>
        <div class="hidden" id="inputs12">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants12" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants12" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date12" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date12">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event13" onchange="toggleInputs(13)">
          <label class="form-check-label" for="event13">
            Всероссийские спортивные игры школьных спортивных клубов
          </label>
        </div>
        <div class="hidden" id="inputs13">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants13" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants13" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date13" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="fordate" id="date13">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event14" onchange="toggleInputs(14)">
          <label class="form-check-label" for="event14">
            Открытые Всероссийские массовые соревнования по конькобежному спорту «Лед надежды нашей»
          </label>
        </div>
        <div class="hidden" id="inputs14">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants14" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants14" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date14" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date14">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event15" onchange="toggleInputs(15)">
          <label class="form-check-label" for="event15">
            Всероссийский день бега «Кросс нации»
          </label>
        </div>
        <div class="hidden" id="inputs15">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants15" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants15" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date15" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date15">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event16" onchange="toggleInputs(16)">
          <label class="form-check-label" for="event16">
            Всероссийский день ходьбы
          </label>
        </div>
        <div class="hidden" id="inputs16">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants16" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants16" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date16" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date16">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event17" onchange="toggleInputs(17)">
          <label class="form-check-label" for="event17">
            Открытая Всероссийская массовая лыжная гонка «Лыжня России»
          </label>
        </div>
        <div class="hidden" id="inputs17">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants17" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants17" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date17" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date17">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event18" onchange="toggleInputs(18)">
          <label class="form-check-label" for="event18">
            Всероссийские массовые соревнования по спортивному ориентированию «Российский Азимут»
          </label>
        </div>
        <div class="hidden" id="inputs18">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants18" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants18" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date18" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date18">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event19" onchange="toggleInputs(19)">
          <label class="form-check-label" for="event19">
            Всероссийские массовые соревнования «Оздоровительный спорт – в каждую семью»
          </label>
        </div>
        <div class="hidden" id="inputs19">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants19" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants19" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date19" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date19">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event20" onchange="toggleInputs(20)">
          <label class="form-check-label" for="event20">
            Всероссийская Спартакиада специальной олимпиады
          </label>
        </div>
        <div class="hidden" id="inputs20">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants20" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants20" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date20" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date20">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event21" onchange="toggleInputs(21)">
          <label class="form-check-label" for="event21">
            Всероссийский день самбо
          </label>
        </div>
        <div class="hidden" id="inputs21">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants21" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants21" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date21" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date21">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event22" onchange="toggleInputs(22)">
          <label class="form-check-label" for="event22">
            Всероссийская массовая велосипедная гонка
          </label>
        </div>
        <div class="hidden" id="inputs22">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants22" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants22" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date22" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date22">
            </div>
          </div>
        </div>
      </div>
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event23" onchange="toggleInputs(23)">
          <label class="form-check-label" for="event23">
            Фестиваль Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди обучающихся общеобразовательных организаций
          </label>
        </div>
        <div class="hidden" id="inputs23">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants23" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants23" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date23" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date23">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event24" onchange="toggleInputs(24)">
          <label class="form-check-label" for="event24">
            Фестиваль Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди обучающихся образовательных организаций высшего образования
          </label>
        </div>
        <div class="hidden" id="inputs24">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants24" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants24" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date24" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date24">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event25" onchange="toggleInputs(25)">
          <label class="form-check-label" for="event25">
            Фестиваль Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди семейных команд
          </label>
        </div>
        <div class="hidden" id="inputs25">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants25" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants25" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date25" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date25">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event26" onchange="toggleInputs(26)">
          <label class="form-check-label" for="event26">
            Всероссийские соревнования по многоборьям Всероссийского физкультурно-спортивного комплекса «Готов к труду и обороне» (ГТО) среди граждан, проживающих в сельской местности
          </label>
        </div>
        <div class="hidden" id="inputs26">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants26" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants26" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date26" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date26">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event27" onchange="toggleInputs(27)">
          <label class="form-check-label" for="event27">
            Всероссийская военно-патриотическая игра «Зарница»
          </label>
        </div>
        <div class="hidden" id="inputs27">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants27" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants27" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date27" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date27">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event28" onchange="toggleInputs(28)">
          <label class="form-check-label" for="event28">
            Всероссийский проект «Вызов первых»
          </label>
        </div>
        <div class="hidden" id="inputs28">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants28" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants28" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date28" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date28">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event29" onchange="toggleInputs(29)">
          <label class="form-check-label" for="event29">
            Турнир «Школьная баскетбольная лига 3х3 им. Кирилла Писклова»
          </label>
        </div>
        <div class="hidden" id="inputs29">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants29" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants29" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date29" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date29">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event30" onchange="toggleInputs(30)">
          <label class="form-check-label" for="event30">
            Турнир по волейболу среди команд общеобразовательных организаций субъектов Российской Федерации
          </label>
        </div>
        <div class="hidden" id="inputs30">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants30" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants30" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date30" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date30">
            </div>
          </div>
        </div>
      </div>
      
      <div class="in-contain">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="event31" onchange="toggleInputs(31)">
          <label class="form-check-label" for="event31">
            Чемпионат Школьной баскетбольной лиги «КЭС-БАСКЕТ»
          </label>
        </div>
        <div class="hidden" id="inputs31">
          <div class="in-in-contain row g-3 align-items-center">
            <div class="col-auto">
              <label for="participants31" class="col-form-label">Количество участников</label>
            </div>
            <div class="col-auto">
              <input type="number" class="formnumber" value="" id="participants31" min="0" max="10000" placeholder="Введите число">
            </div>
            <div class="col-auto">
              <label for="date31" class="col-form-label">Дата проведения</label>
            </div>
            <div class="col-auto">
              <input type="date" class="formdate" id="date31">
            </div>
          </div>
        </div>
      </div>

      <div class="button-contain">
        <button type="submit" class="button" name="action" value="back" id="backPageBtn">Назад</button>
        <button type="submit" class="button" name="action" value="next" id="nextPageBtn">Далее</button>
      </div>
    </form>
  </div>

  <script>

    function toggleInputs(eventId) {
      const inputs = document.getElementById('inputs' + eventId);
      if (inputs.style.display === "none" || inputs.style.display === "") {
        inputs.style.display = "block";
      } else {
        inputs.style.display = "none";
      }
    }
    function saveEventData() {
      const eventData={};

      document.querySelectorAll('.form-check-input').forEach((checkbox,index)=>{
        const eventId = checkbox.id.replace('event', '');

        const participants = document.getElementById('participants' + eventId)?.value;
        const date = document.getElementById('date' + eventId)?.value || "Мероприятие не было выбрано";

        eventData[`event${eventId}`] = {
            participants: participants,
            date: date
        };


      })
  
      localStorage.setItem('eventData', JSON.stringify(eventData));

    }
    console.log(localStorage.getItem('eventData'))

    document.getElementById('backPageBtn').addEventListener('click', saveEventData);
    document.getElementById('nextPageBtn').addEventListener('click', saveEventData);

    function loadEventData() {
      const savedData = localStorage.getItem('eventData');
      if (savedData) {
          const eventData = JSON.parse(savedData);

          Object.keys(eventData).forEach((eventKey) => {
              const eventId = eventKey.replace('event', '');

              const checkbox = document.getElementById('event' + eventId);
              if (checkbox) {
                  checkbox.checked = eventData[eventKey].participants !== "";
                  toggleInputs(eventId);
              }

              const participantsInput = document.getElementById('participants' + eventId);
              if (participantsInput) {
                  participantsInput.value = eventData[eventKey].participants;
              }

              const dateInput = document.getElementById('date' + eventId);
              if (dateInput) {
                  dateInput.value = eventData[eventKey].date === "Мероприятие не было выбрано" ? "" : eventData[eventKey].date;
              }
          });
      }
  }
  function validateInputValue(input) {
            const value = input.value;

            if (/^0\d/.test(value)) {
                input.value = parseInt(value, 10);
            }
            if (value < 0 || value > 10000) {
                alert("Введите значение от 0 до 10000");
                input.value = "";
            }
        }
    document.querySelectorAll('input[type="number"][min="0"][max="10000"]').forEach(input => {
        input.addEventListener('input', () => validateInputValue(input));
    });



  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
