<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Отчеты</title>
</head>
<body>
<div class="container mt-5">
    <ul class="nav nav-tabs" id="reportTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="schoolReportTab" data-bs-toggle="tab" href="#schoolReport" role="tab" aria-controls="schoolReport" aria-selected="true">Отчет о моей школе</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="allSchoolsReportTab" data-bs-toggle="tab" href="#allSchoolsReport" role="tab" aria-controls="allSchoolsReport" aria-selected="false">Отчет о всех школах</a>
        </li>
    </ul>

    <div class="tab-content mt-4" id="reportTabsContent">
        <div class="tab-pane fade show active" id="schoolReport" role="tabpanel" aria-labelledby="schoolReportTab">
            <h2 class="mb-4">Отчет по данным школы</h2>

            <div class="card mb-4">
                <div class="card-header">Общая информация</div>
                <div class="card-body">
                    <p><strong>Общее количество обучающихся:</strong> <span id="totalStudentsOutput">0</span></p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Численность в школьном спортивном клубе (ШСК)</div>
                <div class="card-body">
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>Класс</th>
                            <th>Количество учащихся</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>1 класс</td><td id="class1Output">{{class1}}</td></tr>
                        <tr><td>2 класс</td><td id="class2Output">{{class2}}</td></tr>
                        <tr><td>3 класс</td><td id="class3Output">{{class3}}</td></tr>
                        <tr><td>4 класс</td><td id="class4Output">{{class4}}</td></tr>
                        <tr><td>5 класс</td><td id="class5Output">{{class5}}</td></tr>
                        <tr><td>6 класс</td><td id="class6Output">{{class6}}</td></tr>
                        <tr><td>7 класс</td><td id="class7Output">{{class7}}</td></tr>
                        <tr><td>8 класс</td><td id="class8Output">{{class8}}</td></tr>
                        <tr><td>9 класс</td><td id="class9Output">{{class9}}</td></tr>
                        <tr><td>10 класс</td><td id="class10Output">{{class10}}</td></tr>
                        <tr><td>11 класс</td><td id="class11Output">{{class11}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

            <div class="card mb-4">
                <div class="card-header">Виды спорта, развиваемые на базе ШСК</div>
                <div class="card-body">
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>Вид спорта</th>
                            <th>Количество занимающихся</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td>Баскетбол</td><td id="basketballOutput">0</td></tr>
                        <tr><td>Бокс</td><td id="boxingOutput">0</td></tr>
                        <tr><td>Волейбол</td><td id="volleyballOutput">0</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container my-4">
                <h2 class="mb-4">Отчет по мероприятиям</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Мероприятие</th>
                        <th>Количество участников</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Всероссийские соревнования по баскетболу</td>
                        <td id="participants1Output">-</td>
                        <td id="date1Start">-</td>
                        <td id="date1End">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container my-4">
                <h2 class="mb-4">Другие мероприятия</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Мероприятие</th>
                        <th>Количество участников</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Всероссийские соревнования по баскетболу</td>
                        <td id="extraParticipants1Output">-</td>
                        <td id="extraDate1Start">-</td>
                        <td id="extraDate1End">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Отчет о всех школах -->
        <div class="tab-pane fade" id="allSchoolsReport" role="tabpanel" aria-labelledby="allSchoolsReportTab">
            <h2 class="mb-4">Отчет по данным всех школ</h2>

            <div class="card mb-4">
                <div class="card-header">Общая информация</div>
                <div class="card-body">
                    <p><strong>Общее количество обучающихся среди всех школ:</strong> <span id="allTotalStudentsOutput">0</span></p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Численность в школьных спортивных клубах (ШСК)</div>
                <div class="card-body">
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>Класс</th>
                            <th>Количество учащихся среди всех школ</th>
                            <th>Среднее количество учащихся</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td>1 класс</td><td id="allClass1Output">0</td><td id="avgClass1Output">0</td></tr>
                        <tr><td>2 класс</td><td id="allClass2Output">0</td><td id="avgClass2Output">0</td></tr>
                        <tr><td>3 класс</td><td id="allClass3Output">0</td><td id="avgClass3Output">0</td></tr>
                        <tr><td>4 класс</td><td id="allClass4Output">0</td><td id="avgClass4Output">0</td></tr>
                        <tr><td>5 класс</td><td id="allClass5Output">0</td><td id="avgClass5Output">0</td></tr>
                        <tr><td>6 класс</td><td id="allClass6Output">0</td><td id="avgClass6Output">0</td></tr>
                        <tr><td>7 класс</td><td id="allClass7Output">0</td><td id="avgClass7Output">0</td></tr>
                        <tr><td>8 класс</td><td id="allClass8Output">0</td><td id="avgClass8Output">0</td></tr>
                        <tr><td>9 класс</td><td id="allClass9Output">0</td><td id="avgClass9Output">0</td></tr>
                        <tr><td>10 класс</td><td id="allClass10Output">0</td><td id="avgClass10Output">0</td></tr>
                        <tr><td>11 класс</td><td id="allClass11Output">0</td><td id="avgClass11Output">0</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Виды спорта среди всех школ -->
            <div class="card mb-4">
                <div class="card-header">Виды спорта среди всех школ</div>
                <div class="card-body">
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>Вид спорта</th>
                            <th>Количество занимающихся среди всех школ</th>
                            <th>Среднее количество учащихся</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td>Баскетбол</td><td id="allBasketballOutput">0</td><td id="avgBasketballOutput">0</td></tr>
                        <tr><td>Бокс</td><td id="allBoxingOutput">0</td><td id="avgBoxingOutput">0</td></tr>
                        <tr><td>Волейбол</td><td id="allVolleyballOutput">0</td><td id="avgVolleyballOutput">0</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Отчет по мероприятиям среди всех школ -->
            <div class="container my-4">
                <h2 class="mb-4">Отчет по мероприятиям среди всех школ</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Мероприятие</th>
                        <th>Количество участников среди всех школ</th>
                        <th>Среднее количество учащихся</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Всероссийские соревнования по баскетболу</td>
                        <td id="allParticipants1Output">-</td>
                        <td id="avgParticipants1Output">-</td>
                        <td id="allDate1Start">-</td>
                        <td id="allDate1End">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Другие мероприятия среди всех школ -->
            <div class="container my-4">
                <h2 class="mb-4">Другие мероприятия среди всех школ</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Мероприятие</th>
                        <th>Количество участников среди всех школ</th>
                        <th>Среднее количество учащихся</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Всероссийские соревнования по баскетболу</td>
                        <td id="extraAllParticipants1Output">-</td>
                        <td id="extraAvgParticipants1Output">-</td>
                        <td id="extraAllDate1Start">-</td>
                        <td id="extraAllDate1End">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
</body>
</html>
